---
layout: default
---

{% include base_path %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}

    <div class="page__inner-wrap">
      <header>
        {% if page.title %}<h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}

        {% if page.collection == 'teaching' %}
          <p class="page__subtitle">
            {{ page.type }}, <i>{{ page.venue }}</i>,
            {% assign start_year = page.date | default: "1900-01-01" | date: "%Y" %}
            {% assign end_year = page.end_date | default: "1900-01-01" | date: "%Y" %}
            {% if page.end_date and start_year != end_year %}{{ start_year }}–{{ end_year }}{% else %}{{ start_year }}{% endif %}
          </p>
        {% elsif page.collection == 'publications' and page.venue %}
          <p class="page__subtitle">
            <span class="pub-venue-main">{{ page.venue }}</span>{% if page.presentation or page.award or page.note %} <span class="pub-venue-note">({{ page.presentation | default: page.award | default: page.note }})</span>{% endif %}
          </p>
        {% endif %}
      </header>

      <section class="page__content" itemprop="text">
        {{ content }}

        {% if page.citation and page.paperurl %}
          <p style="font-size: smaller">Recommended citation: {{ page.citation }}<br><a href="{{ page.paperurl }}">Download Paper</a></p>
        {% elsif page.citation %}
          <p style="font-size: smaller">Recommended citation: {{ page.citation }}</p>
        {% elsif page.paperurl %}
          <p style="font-size: smaller"><a href="{{ page.paperurl }}">Download Paper</a></p>
        {% endif %}
      </section>
    </div>
  </article>
</div>
